<div ng-controller="addBlogController as vm">
	<form class="form-horizontal" ng-submit="vm.addBlog()">
		<fieldset>
			<div>
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" ui-sref="home">Blog</a>
						</div>

						<ul class="nav navbar-nav">
							<li ><a ui-sref="add">New Blog<span class="sr-only">(current)</span></a></li>	
							<li><a ui-sref="about">About</a></li>
						</ul> 
					</div>	
				</nav>
			</div>

			<h1>myBlog!</h1>

			<div class="form-group blogDataEntry">
				<label for="blogTitle" class="col-lg-2 control-label">Title:</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="blogTitle" placeholder="Blog title" ng-model="vm.blog_object.blogTitle">
				</div>
			</div>
			<div class="form-group">
				<label for="blogTextArea" class="col-lg-2 control-label">Blog:</label>
				<div class="col-lg-10">
					<textarea class="form-control" rows="3" id="blogTextArea" ng-model="vm.blog_object.blogTextArea"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="reset" class="btn btn-default" ng-click="vm.goHome()">Cancel</button>
					<button type="submit" class="btn btn-info" id="blogSubmitButton">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>