<div class="row" id="addUser" ng-controller="addUserController as vm">
	<div class="column-md-12">
		<div class="well-container">
			<form role="form" ng-submit="vm.addNewUser()">
				<div class="form-group">
					<label for="name">
						Name
					</label>
					<input type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.user_object.name"/>
				</div>
				<div class="form-group">
					<label for="email">
						Email address
					</label>
					<input type="email" class="form-control" id="email" placeholder="Email address" ng-model="vm.user_object.email"/>
				</div>
				<div class="form-group">
					<label for="userName">
						User name
					</label>
					<input type="text" class="form-control" id="userName" placeholder="User name" ng-model="vm.user_object.userName"/>
				</div>
				<div class="form-group">
					<label for="userPassword">
						Password
					</label>
					<input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="vm.user_object.userPassword"/>
				</div>

				<div class="form-group">
					<label for="userPasswordCheck">
						Confirm password
					</label>
					<input type="password" class="form-control" id="userPasswordCheck" placeholder="Confirm password"/>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				<button type="reset" ng-click="vm.cancel()" class="btn btn-danger">Cancel</button>
			</form>
		</div>
	</div>
</div>



