
<div>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Blog</a>
			</div>

			<ul class="nav navbar-nav">
				<li ><a ui-sref="add">New Blog<span class="sr-only">(current)</span></a></li>	
				<li><a href="#">About</a></li>
			</ul>
		</div>	
	</nav>
</div>
<div ng-controller="HomeController as vm">
	<h1>{{vm.pageTitle}}</h1>
	<div ng-repeat="blog in vm.listBlog.blog" id="blogPost">
		<h2>{{blog.blogTitle}}</h2>
		<p>{{blog.blogTextArea}}</p>
		<span>Posted: {{blog.dateTime| date:'medium'}}</span>
		<div id="buttons">
			<button class="btn btn-danger" ng-click="vm.deleteBlog(blog)">Delete</button>
			<button ui-sref="edit({id:blog.id})" class="btn btn-default">Edit</button>
		</div>
	</div>
</div>


