
	<!-- <button class="btn btn-primary" ui-sref="add">Add</button>
-->

<div ng-controller="HomeController as vm">
	<nav class="navbar navbar-default">
		<div class="container-fluid">


			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar">one</span>
				</button>
				<a class="navbar-brand" href="#">Blog</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a ui-sref="add">Add a new blog!<span class="sr-only">(current)</span></a></li>
					
					<!-- <li><a href="#">Link</a></li> -->
				</ul>
			</div>	
		</div>
	</nav>
	<h1>{{vm.title}}</h1>
	<div ng-repeat="blog in vm.diplayBlog.blog">
		<h1>Title: {{title}}</h1>
		<p>Post: {{post}}</p>
		<button class="btn btn-danger" ng-click="vm.deleteBlog(blog)">Delete</button>
		<button class="btn btn-default">Edit</button>
	</div>
</div>