#chooseFile {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

#blogTitle {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	float: left;
}

#blogTextArea {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 80%;
	margin-bottom: 20px;
	color: black;
	background-image: white;
	text-align: left;
	text-transform: none;
	float: left;
}

#blogSubmitButton {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h5 {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: pacifico;
	font-size: 50px;
	color: white;
}

h2 {
}

legend {
	text-align: center;
	font-family: pacifico;
	font-size: 35px;
	padding: 30px;
	background-color: #04519b;
	background-size: cover; 
	color: white;
}

body {
	background-color: white;
	background-image: url('background.png');
	margin-bottom: 100px;
}

#blogPost {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-top: 50px;
}

#buttons {
	margin-top: 20px;
}

span {
	font-style: italic;
	font-weight: bold;
}

img {
	border-radius: 100%;
}

#icon {
	width: 30px;
	height: 30px;
}


.control-label {
	padding-right: 0px;
	color: white;
}

.col-lg-2 {
	padding-right: 0px;
	color: white;
}

.well-container {
	box-shadow: 10px 10px rgba(0,0,0,0.5);
	padding: 20px 40px 20px 40px;	
	background-color: rgba(255,255,255,0.8);
	color: black;
}

p {
	width: 100%; 
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 0px;
}

#aboutMe {
	width: 125px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

#aboutMeContainer {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.aboutMeParagraph {
	width: 60%;
}

#blogFile {
	width: auto;
}

.blogDataEntry {
	margin-top: 100px;
}

.signIn {
	width: 300px;
	margin-top: 300px;
	margin-left: auto;
	margin-right: auto;
}

#createAccount {
	text-align: center;
	margin-top: 20px;
}

#addUser {
	width: 400px;
	margin-top: 300px;
	margin-left: auto;
	margin-right: auto;
}

#right {
	float: right;
}

#dropdown {
	padding-right: 15px;
}

#boxsize {
	padding-top: 15px;	
	padding-bottom: 15px;
}