#chooseFile {
	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

#blogTitle {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	float: left;
}

#blogTextArea {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 80%;
	margin-bottom: 20px;
	color: black;
	background-image: white;
	text-align: left;
	text-transform: none;
	float: left;
}

#blogSubmitButton {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h5 {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: pacifico;
	font-size: 50px;
	color: white;
}

h2 {
}

legend {
	text-align: center;
	font-family: pacifico;
	font-size: 35px;
	padding: 30px;
	background-color: #04519b;
	background-size: cover; 
	color: white;
}

body {
	background-color: white;
	background-image: url('background.png')
}

#blogPost {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	margin-top: 50px;
}

#buttons {
	margin-top: 10px;
}

span {
	font-style: italic;
	font-weight: bold;
}

img {
	width: 30px;
	height: 30px;
	border-radius: 50px;
}

.control-label {
	padding-right: 0px;
	color: white;
}

.col-lg-2 {
	padding-right: 0px;
	color: white;
}

.well-container {
	box-shadow: 10px 10px rgba(0,0,0,0.5);
	padding: 5px 40px 20px 40px;
	/*	border-radius: 10px;*/	
	background-color: rgba(255,255,255,0.8);
	color: black;
}